@model int



<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-info form-control" value="Update Category" asp-route-Id="@Model" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success">Back To List</a>
    </div>
</div>